.listItem {
  border-bottom: 1px solid #666;

  transition: transform .3s ease;

  &:hover {
    opacity: .6;

    transform: translateX(-20px);
  }
}

.button {
  display: block;
  
  width: 100%;

  border: 0;

  outline: 0;
  
  text-align: left;

  cursor: pointer;
}