@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: linear-gradient(rgba(128, 119, 119, 0.8), rgba(36, 36, 36, 0.7)),
    url("./assets/images/app-background.jpeg") no-repeat center / cover;
  background-attachment: fixed;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.wrapper {
  min-height: 100vh;

  margin: 0 auto;

  padding: 0 1rem;

  @media (min-width: 600px) {
    max-width: 70vw;
  }
}
